
.navbar {

}

.avatar-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-Header {

}

.about-Section { 
    background-color: lavender;
    display: grid;
    grid-template-columns: 200px 200px;
 
}

.about-Footer {

}


.portfolio-Header {

    
}

.portfolio-Section {

}








.resume-Section {
    background-color: red;
    display: grid;
    grid-template-columns: 200px 200px;
}

