
.navbar {

}

.aboutMe-Header {

}

.aboutMe-Section { 
    background-color: lavender;
    display: grid;
    grid-template-columns: 200px 200px;
 
}

.aboutMe-Footer {

}


.portfolio-Header {

    
}

.portfolio-Section {

}








.resume-Section {
    background-color: red;
    display: grid;
    grid-template-columns: 200px 200px;
}

